<div class="fileNavButtons">
    <a href="/view-files/user/<%= user %>/folder/<%= selectedFile.folderId %>"><button>Back to Parent Folder</button></a>
    <a href="<%= downloadURL %>"><button>Download file</button></a>
    <a href="/edit-file/user/<%= user %>/folder/<%= selectedFile.folderId %>/file/<%= selectedFile.id %>"><button>Edit or Delete File</button></a>
</div>