<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit or Delete <%- selectedFolder.name %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/folderNavButtons') %>
    <div class="editFolderForm">
        <h1>Edit <%- selectedFolder.name %></h1>
        <form method="post" action="/edit-folder/user/<%= user %>/folder/<%= selectedFolder.id %>">
            <label for="name">New Folder Name</label>
            <input id="name" name="name" type="text" value="<%= selectedFolder.name %>"/>
            <button type="submit">Submit</button>
        </form>
        <a href="/delete-folder/user/<%= user %>/folder/<%= selectedFolder.id %>"><button>Delete Folder and Contents</button></a>

    </div>
</body>
</html>
