<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- selectedFolder.name %></title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/2378952b6f.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="folderPage">
        <% if (selectedFolder.parentFolder) {%>
            <%- include('partials/folderNavButtons') %>
            <div class="homeFolderTitle">
                <i class="fa-regular fa-folder"></i>
                <h1><%- selectedFolder.name %></h1> 
            </div>
        <% } else { %>
            <div class="folderNavButtons">
                <a href="/create-folder/user/<%= user %>/folder/<%= selectedFolder.id %>"><button>Create new folder</button></a>
                <a href="/upload-file/user/<%= user %>/folder/<%= selectedFolder.id %>"><button>Upload File</button></a>
            </div>
            <div class="homeFolderTitle">
                <h1>Your Files</h1> 
            </div>
        <% }; %>
        <% if (folderChildren.length >= 1) {%>
            <% folderChildren.forEach((folder) => { %>
                <%- include('./folders/childFolder', {folder}); %>
            <% }); %>
            <% fileChildren.forEach((file) => { %>
                <%- include('./files/childFile', {file}); %>
            <% }); %>
        <% } else { %>
            <h2>Nothing in folder</h2>
        <% } %>
    </div>
</body>
</html>
