<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- selectedFolder.name %></title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/2378952b6f.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/nav') %>
    <%- include('partials/folderNavButtons') %>
    <h1 class="folderViewTitle">Folder View</h1>
    <div class="folderPage">
        <div class="folderContent">
        <% if (selectedFolder.parentFolder) {%>
                <div class="homeFolderTitle">
                    <i class="fa-regular fa-folder"></i>
                    <h1><%- selectedFolder.name %></h1> 
                </div>
        <% } else { %>
            <div class="homeFolderTitle">
                <h1>Your Files:</h1> 
            </div>
        <% }; %>
        <% if (folderChildren.length >= 1 || fileChildren.length >=1) {%>
            <div class="folderChildren">
            <% folderChildren.forEach((folder) => { %>
                <%- include('./folders/childFolder', {folder}); %>
            <% }); %>
            <% fileChildren.forEach((file) => { %>
                <%- include('./files/childFile', {file}); %>
            <% }); %>
            </div>
        <% } else { %>
            <h2>Nothing in folder</h2>
        <% } %>
    </div>
</body>
</html>
