<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit or Delete <%- selectedFile.name %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="editFileForm">
        <div>
            <a href="/view-files/user/<%= user %>/folder/<%= selectedFile.folderId %>"><button>Back</button></a>
            <form method="post" action="/edit-file/user/<%= user %>/folder/<%= selectedFile.folderId %>/file/<%= selectedFile.id %>">
                <h1>Edit File</h1>
                <input id="name" name="name" type="text" value="<%= selectedFile.name %>"/>
                <button type="submit">Submit</button>
                <a href="/delete-file/user/<%= user %>/folder/<%= selectedFile.folderId %>/file/<%= selectedFile.id %>"><button type="button">Delete File Permanently</button></a>
            </form>
        </div>
    </div>
</body>
</html>
